@using Microsoft.Extensions.Options
@inject IOptions<MiGenteEnLinea.Web.Configuration.ApiOptions> ApiOptions
@* Buscador de Contratistas / Directorio
   REPLICADO DE: FRONT_Publicado/Empleador/index_empleador.aspx 
   Layout: comunity.Master (diferente al dashboard) *@
@{
    ViewData["Title"] = "Mi Gente en línea";
    Layout = null; // Esta página tiene su propio layout completo
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    
    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <!-- Font Awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet" />
    <!-- Custom Styles -->
    <link href="~/css/animated.css" rel="stylesheet" />
    <link href="~/css/Custom.css" rel="stylesheet" />
    
    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

        @@font-face {
            font-family: "Gurajada";
            src: url(/fonts/Gurajada-Regular.ttf);
        }

        html, body {
            height: 100%;
        }

        body {
            display: flex;
            flex-direction: column;
            font-family: 'Maven Pro', sans-serif;
            background-color: #eee;
        }

        .footer {
            margin-top: auto;
        }

        .headerText {
            font-family: "Gurajada", Gurajada;
        }

        .navbar-brand {
            padding: 0;
        }

        .navbar {
            background-size: cover;
            background-position: unset;
        }

        .navbar-brand img {
            height: 50px;
            margin-left: 10px;
        }

        .banner {
            position: relative;
            height: 500px;
            background: url("/images/banner_Foto1.jpg");
            background-size: cover;
            background-position: left;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .banner2 {
            position: center;
            height: 300px;
            background: linear-gradient(123deg, #00176C 0%, #EE09A3 100%);
            background-size: cover;
            background-position: unset;
        }

        .card {
            border: none;
            border-radius: 10px;
            transition: all 1s;
            cursor: pointer;
        }

        .card:hover {
            -webkit-box-shadow: 3px 5px 17px -4px #777777;
            box-shadow: 3px 5px 17px -4px #777777;
        }

        .ratings i {
            color: green;
        }

        hr {
            margin: 1rem 0;
            color: inherit;
            background-color: currentColor;
            border: 0;
            opacity: 0.25;
        }

        .star {
            font-size: 20px;
            color: #ccc;
            margin-right: 5px;
        }

        .star.filled {
            color: yellow;
        }

        .avatar {
            border-radius: 50%;
            width: 150px;
            height: 150px;
            object-fit: cover;
        }

        .profile-image {
            border-radius: 50%;
            width: 150px;
            height: 150px;
            object-fit: cover;
            margin: 0 auto;
            display: block;
        }

        .link {
            color: darkgrey;
        }

        .link:hover {
            box-shadow: inset 30px 30px 30px 30px #007BFF;
            color: darkgrey;
        }

        html {
            scroll-behavior: smooth;
        }

        .no-border {
            border: none;
        }
    </style>
</head>
<body>
    <!-- Banner con barra de búsqueda -->
    <div class="banner" style="position: relative; z-index: 0;">
        <!-- Navbar transparente -->
        <nav class="navbar navbar-expand-lg" style="background-color: transparent; position: absolute; width: 100%; z-index: 1;">
            <a class="navbar-brand" asp-controller="Empleador" asp-action="Buscador">
                <img src="~/images/logoMiGenteBlanco.png" alt="Logo" />
            </a>

            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-solid fa-bars" style="color: #ffffff;"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="btn btn-transparent text-light" asp-controller="Empleador" asp-action="Index"
                            style="border-radius: 10px; border-color: white">Mi Gente En Linea</a>
                        <div class="btn-group">
                            <button id="btnPerfil" type="button" class="btn btn-light dropdown-toggle" 
                                style="border-radius: 10px; border-color: white" 
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @User.Identity?.Name
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" asp-controller="Empleador" asp-action="Perfil">Mi Perfil</a>
                                <a class="dropdown-item" asp-controller="Empleador" asp-action="MiSuscripcion">Mi Suscripción</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="Auth" asp-action="Logout">Cerrar Sesión</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Contenido del banner con overlay oscuro -->
        <div class="mask text-light" style="background-color: rgba(0, 0, 0, 0.7); height: 100%">
            <div class="banner-content">
                <div class="form-inline col col-12">
                    <div class="row justify-content-left col col-lg-8" style="margin-top: 150px">
                        <div class="form-group col col-lg-6">
                            <h3 class="animate__animated animate__bounceInUp">Encuentra ese colaborador perfecto</h3>
                            <a class="animate__animated animate__fadeIn animate__slower" style="color: white">
                                Apoyate de una comunidad de profesionales calificados
                            </a>
                        </div>
                        
                        <!-- Formulario de búsqueda -->
                        <div class="form-control col-md-10" style="padding-top: 10px; padding-bottom: 10px">
                            <div class="form-row animate__animated animate__backInLeft">
                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group border-0">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text border-0" style="background-color: transparent">
                                                <i class="fa fa-search"></i>
                                            </span>
                                        </div>
                                        <input type="text" id="txtBusqueda" class="form-control" 
                                            placeholder="Criterio de Búsqueda" style="border-style:None;" />
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text border-0" style="background-color: transparent">
                                                <i class="fa fa-map-marker"></i>
                                            </span>
                                        </div>
                                        <select id="ddlCiudad" class="form-control border-0">
                                            <option value="Cualquier Ubicacion">Cualquier Ubicacion</option>
                                            <option value="Azua">Azua</option>
                                            <option value="Bahoruco">Bahoruco</option>
                                            <option value="Barahona">Barahona</option>
                                            <option value="Dajabón">Dajabón</option>
                                            <option value="Distrito Nacional">Distrito Nacional</option>
                                            <option value="Duarte">Duarte</option>
                                            <option value="Elías Piña">Elías Piña</option>
                                            <option value="El Seibo">El Seibo</option>
                                            <option value="Espaillat">Espaillat</option>
                                            <option value="Hato Mayor">Hato Mayor</option>
                                            <option value="Hermanas Mirabal">Hermanas Mirabal</option>
                                            <option value="Independencia">Independencia</option>
                                            <option value="La Altagracia">La Altagracia</option>
                                            <option value="La Romana">La Romana</option>
                                            <option value="La Vega">La Vega</option>
                                            <option value="María Trinidad Sánchez">María Trinidad Sánchez</option>
                                            <option value="Monseñor Nouel">Monseñor Nouel</option>
                                            <option value="Monte Cristi">Monte Cristi</option>
                                            <option value="Monte Plata">Monte Plata</option>
                                            <option value="Pedernales">Pedernales</option>
                                            <option value="Peravia">Peravia</option>
                                            <option value="Puerto Plata">Puerto Plata</option>
                                            <option value="Samaná">Samaná</option>
                                            <option value="San Cristóbal">San Cristóbal</option>
                                            <option value="San José de Ocoa">San José de Ocoa</option>
                                            <option value="San Juan">San Juan</option>
                                            <option value="San Pedro de Macorís">San Pedro de Macorís</option>
                                            <option value="Sánchez Ramírez">Sánchez Ramírez</option>
                                            <option value="Santiago">Santiago</option>
                                            <option value="Santiago Rodríguez">Santiago Rodríguez</option>
                                            <option value="Valverde">Valverde</option>
                                            <option value="Santo Domingo Este">Santo Domingo Este</option>
                                            <option value="Santo Domingo Oeste">Santo Domingo Oeste</option>
                                            <option value="Santo Domingo Norte">Santo Domingo Norte</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 mt-2 mt-md-0">
                                    <button class="bg-primary col col-sm-12 btn btn-secondary" id="btnBuscar" type="button">
                                        Encontrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contenido principal -->
    <div class="container">
        <div class="container text-center m-t-5" style="margin-top: 50px;"></div>

        <h2 id="tituloBuscador">Ultimas Publicaciones</h2>
        <a>Encuentra lo que buscas gracias a nuestra comunidad de profesionales calificados</a>
        <br />
        <hr />

        <!-- Grid de tarjetas de contratistas -->
        <div class="row col col-md-12 col-sm-12" id="contratistasContainer">
            <!-- Loading inicial -->
            <div class="col-12 text-center py-5">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Cargando...</span>
                </div>
                <p class="mt-3 text-muted">Cargando contratistas disponibles...</p>
            </div>
        </div>

        <!-- Modal Perfil Profesional -->
        <div class="modal fade" id="modalPerfil" tabindex="-1" role="dialog" aria-labelledby="modalPerfilLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-white">
                        <h5 class="modal-title" id="modalPerfilLabel">Perfil Profesional</h5>
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                            <img src="/images/circular1.png" id="imgProfile" style="width: 100px; height: 100px;" class="card-img-top avatar"/>
                            <h5 class="card-title" id="NombrePerfil" style="font-weight: bold">Nombre</h5>
                            <div class="rating horizontal">
                                <span class="fa fa-star" style="color:darkorange"></span>
                                <span class="fa fa-star" style="color:darkorange"></span>
                                <span class="fa fa-star" style="color:darkorange"></span>
                                <span class="fa fa-star" style="color:darkorange"></span>
                                <span class="fa fa-star-half-o" style="color:darkorange"></span>
                                <span id="calificacionValor">4.5</span>
                            </div>
                            <div class="form-group">
                                <p id="presentacion">Presentación de ejemplo</p>
                            </div>
                        </div>
                        
                        <!-- Tabs -->
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#datosGenerales">Datos Generales</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#servicios">Catálogo de Servicios</a>
                            </li>
                        </ul>
                        
                        <div class="tab-content">
                            <!-- Tab Datos Generales -->
                            <div class="tab-pane fade show active" id="datosGenerales">
                                <div class="container">
                                    <div class="row mt-3">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="titulo" class="form-label">Título de Perfil</label>
                                                <p id="titulo">Título de ejemplo</p>
                                            </div>
                                            <div class="form-group">
                                                <label for="email" class="form-label">Email</label>
                                                <p id="email">correo@example.com</p>
                                            </div>
                                            <div class="form-group">
                                                <label for="experiencia" class="form-label">Años de Experiencia</label>
                                                <p id="experiencia">5 años</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="horizontal">
                                                    <a href="#" id="enlaceWhatsapp1" style="display: block; color: black">
                                                        <label for="telefono1" class="form-label">Teléfono 1</label>
                                                        <img src="~/images/whatsapp.png" style="margin-left: 5px;" width="24" height="24" />
                                                    </a>
                                                </div>
                                                <a href="#" id="enlaceTelefono1" style="display: block; color: black">
                                                    <p id="telefono1">(000)-000-0000</p>
                                                </a>
                                            </div>
                                            <div class="form-group">
                                                <div class="horizontal">
                                                    <a href="#" id="enlaceWhatsapp2" style="display: block; color: black">
                                                        <label for="telefono2" class="form-label">Teléfono 2</label>
                                                        <img src="~/images/whatsapp.png" style="margin-left: 5px;" width="24" height="24" />
                                                    </a>
                                                </div>
                                                <a href="#" id="enlaceTelefono2" style="display: block; color: black">
                                                    <p id="telefono2">(000)-000-0000</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Tab Servicios -->
                            <div class="tab-pane fade" id="servicios">
                                <div class="container">
                                    <div class="form-group">
                                        <label for="servicio" class="form-label">Catálogo de Servicios</label>
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Detalle del Servicio</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tablaServicios">
                                                <tr><td class="text-center text-muted">Seleccione un contratista para ver sus servicios</td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="form-control" style="background-color: dimgray; color: white; text-align: center;">
            <a asp-controller="Empleador" asp-action="FAQ" class="text-white" title="Sección de Preguntas y Respuestas">
                <h3>Preguntas y Respuestas</h3>
            </a>
            <hr />
            <a style="font-size: smaller">© Derechos reservados Mi Gente en línea @DateTime.Now.Year</a>
            <br />
            <a style="font-size: smaller">Diseño y Desarrollo por IntDoSystem, SRL</a>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <!-- Custom.js con funciones compartidas (renderStars, API_BASE, etc.) -->
    <script src="~/js/Custom.js"></script>
    
    <script>
        // Configuración de la aplicación
        window.API_BASE = '@ApiOptions.Value.BaseUrl';
        window.STATIC_FILES_BASE = '@ApiOptions.Value.StaticFilesBaseUrl';
        
        // Obtener token del almacenamiento
        function getToken() {
            return localStorage.getItem('authToken') || sessionStorage.getItem('authToken');
        }
        
        // Obtener userId del token
        function getUserIdFromToken(token) {
            if (!token) return null;
            try {
                const payload = JSON.parse(atob(token.split('.')[1]));
                return payload.nameid || payload.sub || payload.userId;
            } catch (e) {
                console.error('Error parsing token:', e);
                return null;
            }
        }
        
        // Cargar contratistas al cargar la página
        document.addEventListener('DOMContentLoaded', function() {
            cargarContratistas();
        });
        
        // Función principal para cargar contratistas
        async function cargarContratistas() {
            const busqueda = document.getElementById('txtBusqueda').value.trim();
            const ciudad = document.getElementById('ddlCiudad').value;
            
            try {
                // Construir URL del API
                let url = `${API_BASE}/contratistas?soloActivos=true`;
                if (busqueda) url += `&searchTerm=${encodeURIComponent(busqueda)}`;
                if (ciudad && ciudad !== 'Cualquier Ubicacion') {
                    url += `&provincia=${encodeURIComponent(ciudad)}`;
                }

                const response = await authenticatedFetch(url);
                
                if (response.ok) {
                    const result = await response.json();
                    console.log('Search result:', result);
                    
                    // El API devuelve un objeto SearchContratistasResult con { items, totalCount, pageIndex, pageSize }
                    // Extraer el array de contratistas del resultado
                    window.contratistas = result.items || result.contratistas || result || [];

                    renderContratistas(window.contratistas);
                } else {
                    throw new Error('Error al cargar contratistas');
                }
            } catch (error) {
                console.error('Error:', error);
                const container = document.getElementById('contratistasContainer');
                if (container) {
                    container.innerHTML = '<div class="col-12 text-center"><div class="alert alert-danger">Error al cargar contratistas. Por favor intente nuevamente.</div></div>';
                }
            }
        }
        
        // Función para buscar contratistas (del botón)
        document.getElementById('btnBuscar').addEventListener('click', async function() {
            // Mostrar loading
            const container = document.getElementById('contratistasContainer');
            if (container) {
                container.innerHTML = '<div class="col-12 text-center py-5"><div class="spinner-border text-primary"></div><p class="mt-3 text-muted">Buscando contratistas...</p></div>';
            }
            
            // Ejecutar búsqueda
            await cargarContratistas();
        });
        
        // Función para renderizar contratistas en las tarjetas
        function renderContratistas(contratistas) {
            const container = document.getElementById('contratistasContainer');
            if (!container) return;
            
            // Asegurar que contratistas es un array
            if (!Array.isArray(contratistas)) {
                console.error('renderContratistas: Expected array, received:', typeof contratistas, contratistas);
                container.innerHTML = '<div class="col-12 text-center"><div class="alert alert-warning">Formato de respuesta inválido del servidor.</div></div>';
                return;
            }
            
            if (contratistas.length === 0) {
                container.innerHTML = '<div class="col-12 text-center"><div class="alert alert-info">No se encontraron contratistas disponibles.</div></div>';
                return;
            }
            
            container.innerHTML = contratistas.map(c => {
                const rating = c.promedioCalificacion || 0;
                const nombre = c.nombreCompleto || `${c.nombre || ''} ${c.apellido || ''}`.trim() || 'Sin nombre';
                const titulo = c.titulo || c.sector || 'Profesional';
                const imageUrl = getContratistaImageUrl(c);
                
                return `
                    <div class="col-md-3 col-sm-6 mb-3">
                        <div class="card p-2 py-3 text-center" style="text-align: center; align-items: center; justify-items: center">
                            <div class="img mb-2" style="width: 100px; height: 100px; overflow: hidden; border-radius: 50%;">
                                  <img src="${imageUrl}" 
                                      style="width: 100px; height: 100px; object-fit: cover;" 
                                      class="card-img-top avatar"
                                     onerror="this.onerror=null; this.src='/images/circular1.png';">
                            </div>
                            <h5 style="font-weight: bold" class="mb-0">${nombre}</h5>
                            <medium>${titulo}</medium>
                            <div class="ratings mt-2" title="Calificación: ${rating.toFixed(1)}">
                                ${window.renderStars ? window.renderStars(rating) : ''}
                                <small>${rating.toFixed(1)}</small>
                            </div>
                            <div class="mt-4">
                                <button type="button" class="btn btn-success text-uppercase btn-ver-perfil" 
                                    data-id="${c.contratistaId}"
                                    data-nome="${nombre}"
                                    data-toggle="modal" data-target="#modalPerfil">Ver Perfil</button>
                            </div>
                        </div>
                    </div>
                `;
            }).join('');
            
            // Agregar listeners a los nuevechos botones
            document.querySelectorAll('.btn-ver-perfil').forEach(btn => {
                btn.addEventListener('click', function() {
                    const contratistaId = parseInt(this.getAttribute('data-id'));
                    verPerfilContratista(contratistaId);
                });
            });
        }
        
        // Ver perfil del contratista
        async function verPerfilContratista(contratistaId) {
            // Buscar contratista en el array cargado
            const perfil = (window.contratistas || []).find(c => c.contratistaId === contratistaId);
            if (perfil) {
                mostrarPerfilEnModal(perfil);
            } else {
                Swal.fire('Error', 'No se pudo cargar el perfil', 'error');
            }
        }
        
        // Mostrar datos en el modal
        function mostrarPerfilEnModal(perfil) {
            const nombre = perfil.nombreCompleto || `${perfil.nombre || ''} ${perfil.apellido || ''}`.trim();
            
            const modalImageUrl = getContratistaImageUrl(perfil);
            const modalImage = document.getElementById('imgProfile');
            modalImage.src = modalImageUrl;
            modalImage.onerror = function() {
                this.src = '/images/circular1.png';
            };
            
            // Cargar servicios del contratista de forma asíncrona
            if (perfil.contratistaId) {
                cargarServiciosContratista(perfil.contratistaId);
            }
            document.getElementById('NombrePerfil').textContent = nombre || 'Sin nombre';
            document.getElementById('presentacion').textContent = perfil.presentacion || 'Sin presentación';
            document.getElementById('titulo').textContent = perfil.titulo || perfil.sector || 'Sin título';
            document.getElementById('email').textContent = perfil.email || 'No disponible';
            document.getElementById('experiencia').textContent = `${perfil.experiencia || 0} años`;
            document.getElementById('telefono1').textContent = perfil.telefono1 || 'No disponible';
            document.getElementById('telefono2').textContent = perfil.telefono2 || 'No disponible';
            
            // Actualizar calificación
            const calificacion = perfil.promedioCalificacion || 0;
            document.getElementById('calificacionValor').textContent = calificacion.toFixed(1);
            
            // Actualizar enlaces de WhatsApp
            if (perfil.telefono1) {
                const tel1 = perfil.telefono1.replace(/\D/g, '');
                const whatsapp1 = document.getElementById('enlaceWhatsapp1');
                if (whatsapp1) whatsapp1.href = `https://wa.me/1809${tel1}`;
                const tel1Link = document.getElementById('enlaceTelefono1');
                if (tel1Link) tel1Link.href = `tel:${perfil.telefono1}`;
            }
            if (perfil.telefono2) {
                const tel2 = perfil.telefono2.replace(/\D/g, '');
                const whatsapp2 = document.getElementById('enlaceWhatsapp2');
                if (whatsapp2) whatsapp2.href = `https://wa.me/1809${tel2}`;
                const tel2Link = document.getElementById('enlaceTelefono2');
                if (tel2Link) tel2Link.href = `tel:${perfil.telefono2}`;
            }
        }
        
        // Cargar servicios del contratista
        async function cargarServiciosContratista(contratistaId) {
            const tablaServicios = document.getElementById('tablaServicios');
            if (!tablaServicios) return;
            
            // Mostrar loading
            tablaServicios.innerHTML = '<tr><td class="text-center"><div class="spinner-border spinner-border-sm text-primary"></div> Cargando servicios...</td></tr>';
            
            try {
                const response = await authenticatedFetch(`/contratistas/${contratistaId}/servicios`);
                
                if (response.ok) {
                    const servicios = await response.json();
                    renderizarTablaServicios(servicios);
                } else {
                    throw new Error('Error al cargar servicios');
                }
            } catch (error) {
                console.error('Error cargando servicios:', error);
                tablaServicios.innerHTML = '<tr><td class="text-center text-muted">Error al cargar servicios</td></tr>';
            }
        }
        
        // Renderizar tabla de servicios
        function renderizarTablaServicios(servicios) {
            const tablaServicios = document.getElementById('tablaServicios');
            if (!tablaServicios) return;
            
            if (!servicios || servicios.length === 0) {
                tablaServicios.innerHTML = '<tr><td class="text-center text-muted">No hay servicios disponibles</td></tr>';
                return;
            }
            
            tablaServicios.innerHTML = servicios
                .filter(s => s.activo) // Solo servicios activos
                .map(servicio => {
                    let detalles = [];
                    if (servicio.aniosExperiencia) {
                        detalles.push(`${servicio.aniosExperiencia} años de experiencia`);
                    }
                    if (servicio.tarifaBase) {
                        detalles.push(`Tarifa: ${servicio.tarifaBase}`);
                    }
                    if (servicio.certificaciones) {
                        detalles.push(`Certificaciones: ${servicio.certificaciones}`);
                    }
                    
                    const detallesTexto = detalles.length > 0 ? `<br><small class="text-muted">${detalles.join(' • ')}</small>` : '';
                    
                    return `
                        <tr>
                            <td>
                                <strong>${servicio.detalleServicio}</strong>
                                ${detallesTexto}
                            </td>
                        </tr>
                    `;
                })
                .join('');
        }
        
        // Variable global para almacenar contratistas cargados
        function getContratistaImageUrl(contratista) {
            if (!contratista) return '/images/circular1.png';

            const rawUrl = contratista.imagenUrl || contratista.ImagenUrl || contratista.fotoUrl || contratista.FotoUrl;
            if (rawUrl && typeof rawUrl === 'string' && rawUrl.trim().length > 0) {
                return rawUrl.startsWith('/') ? `${STATIC_FILES_BASE}${rawUrl}` : rawUrl;
            }

            if (contratista.contratistaId) {
                return `${STATIC_FILES_BASE}/api/contratistas/${contratista.contratistaId}/foto`;
            }

            return '/images/circular1.png';
        }

        window.contratistas = [];
    </script>
</body>
</html>
